* {
    /*CTRL F5 IF BROWSER DOESNT reload*/
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-decoration: none;
    z-index: 1;
    padding: 0;
    margin: 0;
    color: #fff;
}

.flex {
    display: flex;
}

.com_flex {
    align-items: center;
    display: flex;
}

/*BUTTON START*/

.btn_mine {
    margin-left: auto;
    padding: 10px;
    outline: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    border: solid #5f0cf5;
    text-decoration: none;
    background: none;
    color: #5f0cf5;
    border-radius: 10px;
    transition: 0.5s;
    align-self: right;
}

.btn_mine:hover {
    color: #ffffff;
    box-shadow: 0px 0px 0px 0;
    background-color: #5f0cf5;
}

.comment_form {
    border-radius: 20px;
    background-color: #181a1b;
}

/*BUTTON END*/

.colums {
    width: 33%;
}

.telo {
    background-color: #1f2223;
}

.mine-rate {
    display: flex;
    justify-content: right;
}

.com-title {
    display: flex;
}

.text-reset {
    outline: none;
    text-decoration: none;
}

.mycard {
    border-radius: 20px;
    padding: 20px;
    background-color: #ed63ff;
}


.date {
    font-size: 14px;
    position: absolute;
    right: 20px;
}

.user_info {
    display: flex;
    align-items: center;
}


/* Rates Start */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate_btn {
    display: block;
}

.rate:not(:checked)>input {
    position: absolute;
    visibility: hidden;
}

.checked {
    color: orange;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

/* Rates End */

/*CONTACT START*/
.contact {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: end;
    z-index: 10;
}

.contact img {
    width: 70px;
    cursor: pointer;
    transition: 0.5s;
}

.contact img:hover {
    transform: scale(1.05);
}

.contact-chat {
    padding: 10px;
    border-radius: 20px;
    display: none;
    height: 400px;
    background: linear-gradient(45deg, #7eb0fa, #5f0cf5 100%);
    width: 300px;
    z-index: 10;
    box-shadow: 5px 5px 0px 0px rgb(255, 2, 78);
}

.contact-img {
    margin-left: 20px;
    align-items: right;
    bottom: 0px;
}

.xClose {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
}

/*CONTACT END*/

@media screen and (max-width: 1280px) {
    .contact {
        display: none;
    }

    .flex {
        display: block;
    }

    .colml {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */